:root {
  /* BACKGROUND COLORS */
  --background-primary: rgb(242, 242, 242);
  --background-secondary: rgb(242, 242, 242);
  --background-white: white;
  --background-collection-main: rgb(255, 255, 255);
  --background-collection-item: rgb(254, 254, 254);
  --background-collection-container: rgba(201, 201, 201, 0.043);

  /* TEXT COLORS */
  --text-primary: rgba(0, 0, 0, 0.7);
  --text-primary-light: rgba(0, 0, 0, 0.5);
  --text-primary-dark: rgba(0, 0, 0, 0.9);
  --text-primary-invis: rgba(0, 0, 0, 0);
  --text-light: white;
  --text-accept: rgba(51, 170, 137, 1);
  --text-warning: rgba(206, 34, 90, 1);

  /* BUTTONS COLORS */
  --button-primary: rgba(0, 0, 0, 0.6);
  --button-primary-dark: rgba(0, 0, 0, 0.7);
  --button-primary-disabled: rgba(0, 0, 0, 0.3);
  --button-accept-dark: rgb(50, 140, 114);
  --button-accept-primary: rgba(51, 170, 137, 1);
  --button-accept-light: rgb(57, 198, 132);
  --button-deny-dark: rgb(154, 29, 70);
  --button-deny-primary: rgba(206, 34, 90, 1);
  --button-deny-light: rgba(233, 81, 80, 1);

  /* MUI Tab Colors */
  --tab-primary: rgba(51, 170, 137, 1);

  /* MUI Drawer Colors */
  --drawer-header: white;
}

/* Color Theme Swatches in RGBA */
.color-theme_Screenshot_20211004_142740_com-1-rgba {
  color: rgba(54, 31, 51, 1);
}
.color-theme_Screenshot_20211004_142740_com-2-rgba {
  color: rgba(32, 28, 43, 1);
}
.color-theme_Screenshot_20211004_142740_com-3-rgba {
  color: rgba(103, 15, 76, 1);
}
.color-theme_Screenshot_20211004_142740_com-4-rgba {
  color: rgba(206, 34, 90, 1);
}
.color-theme_Screenshot_20211004_142740_com-5-rgba {
  color: rgba(233, 81, 80, 1);
}

/* Color Theme Swatches in RGBA */
.Green-Monsters-1-rgba {
  color: rgba(0, 230, 165, 1);
}
.Green-Monsters-2-rgba {
  color: rgba(51, 170, 137, 1);
}
.Green-Monsters-3-rgba {
  color: rgba(0, 153, 110, 1);
}
.Green-Monsters-4-rgba {
  color: rgba(69, 230, 184, 1);
}
.Green-Monsters-5-rgba {
  color: rgba(0, 102, 73, 1);
}
