body {
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  /* BACKGROUND COLORS */
  --background-primary: rgb(242, 242, 242);
  --background-secondary: rgb(242, 242, 242);
  --background-white: white;
  --background-collection-main: rgb(255, 255, 255);
  --background-collection-item: rgb(254, 254, 254);
  --background-collection-container: rgba(201, 201, 201, 0.043);

  /* TEXT COLORS */
  --text-primary: rgba(0, 0, 0, 0.7);
  --text-primary-light: rgba(0, 0, 0, 0.5);
  --text-primary-dark: rgba(0, 0, 0, 0.9);
  --text-primary-invis: rgba(0, 0, 0, 0);
  --text-light: white;
  --text-button-light: white;
  --text-accept: rgba(51, 170, 137, 1);
  --text-warning: #d32f2f;

  /* BUTTONS COLORS */
  --button-primary: rgba(0, 0, 0, 0.6);
  --button-primary-light: rgb(147, 147, 147);
  --button-primary-dark: rgba(0, 0, 0, 0.7);
  --button-primary-disabled: rgba(0, 0, 0, 0.3);
  --button-bottom-primary: rgb(245, 245, 245);
  --button-accept-dark: rgb(50, 140, 114);
  --button-accept-primary: rgba(51, 170, 137, 1);
  --button-accept-light: rgb(57, 198, 132);
  --button-deny-dark: rgb(154, 29, 70);
  --button-deny-primary: rgba(206, 34, 90, 1);
  --button-deny-light: rgba(233, 81, 80, 1);

  /* ICON COLORS */
  --icon-star-filled: rgb(223, 138, 85);
  --icon-star-filled-hover: rgb(249, 160, 105);
  --icon-star-filled-clicked: rgb(255, 205, 131);
  --icon-star-notFilled: rgb(182, 182, 182);

  /* MUI Tab Colors */
  --tab-primary: rgba(51, 170, 137, 1);

  /* MUI Drawer Colors */
  --drawer-header: white;

  /* PROGRESS BAR COLORS */
  --progress-bar-100: rgb(58, 213, 141);
  --progress-bar-75: rgb(39, 157, 116);
  --progress-bar-50: rgb(171, 199, 71);
  --progress-bar-25: rgb(222, 146, 113);
  --progress-bar-0: rgba(233, 81, 80, 1);

  /* FONT SIZES */
  --button-fontSize-primary: 0.82rem;
}
