.LoginCard {
  height: 500px;
  width: 375px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--background-white);
  border-radius: 5px;
  box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.3);
  animation-name: loginCardAnimateIn;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
}
@keyframes loginCardAnimateIn {
  0% {
    opacity: 0;
    transform: translateY(25%);
  }
  20% {
    opacity: 0.03;
  }
  40% {
    opacity: 0.1;
  }
  60% {
    opacity: 0.3;
  }
  80% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.LoginCard.animateOut {
  animation-name: loginCardAnimateOut;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 0.2s;
}

@keyframes loginCardAnimateOut {
  0% {
    opacity: 1;
    transform: translateX(0%);
  }
  30% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    transform: translateX(-50%);
  }
}

.LoginCard.provider {
  animation-name: loginCardProvider;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 0.2s;
}

@keyframes loginCardProvider {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
  }
}

.LoginCard h2 {
  font-size: 2rem;
  margin: 0px 0px 0px 0px;
}

.LoginCard p {
  font-size: 1.2rem;
}
