.modalOverlay {
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  animation-name: modalFadeIn;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.25s;
}

@keyframes modalFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* need to dynamically add this class */
.modalOverlay.fadeOut {
  animation-name: modalFadeOut;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 0.25s;
}

@keyframes modalFadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.modalContainer {
  margin: 15rem auto;
  width: 300px;
  height: 125px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.1);
  animation-name: slideIn;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.2s;
}

@keyframes slideIn {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}

.modalContainer.slideOut {
  animation-name: slideOut;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 0.2s;
}

@keyframes slideOut {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(150%);
  }
}

.modalMessage {
  padding-top: 20px;
  font-family: 'Roboto', sans-serif;
  color: #878686;
  padding-bottom: 10px;
  text-align: center;
  margin: auto;
  line-height: 1.5;
}

.closeModal {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  background: rgba(7, 177, 77, 0.9);
  padding: 5px;
  width: 80px;
  border: 1.5px solid rgba(7, 177, 77, 0.9);
  display: block;
  transition: all 0.4s ease 0s;
  border-radius: 2px;
  margin: auto;
}

.closeModal:hover {
  background: rgba(7, 177, 77, 0.7);
  border-color: rgba(7, 177, 77, 0.7);
  transition: all 0.4s ease 0s;
  cursor: pointer;
}
